parameters:
    database_url: 'sqlite:///%kernel.root_dir%/data/sqlite.db'
    database_driver: "pdo_sqlite"
    database_host: ~
    database_port: ~
    database_name: "%kernel.root_dir%/data/sqlite.db"
    database_path : "%kernel.root_dir%/data/sqlite.db"
    database_user: ~
    database_password: ~
    database_test_name: "%kernel.root_dir%/data/sqlite_test.db"
    database_path_test_name: "%kernel.root_dir%/data/sqlite_test.db"
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt
